body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}
h3{
    color: hsl(179, 62%, 43%);
    font-weight: bold;
    margin-bottom: 4%;
}
h4{
    color:hsl(71, 73%, 54%);
    font-size: 1rem;
    font-weight: bold;
}
h5{
    opacity: 1;
    color: white;
    line-height: 1.5;
    padding-bottom: 4%;
}
.container-fluid{
width: 50%;
margin-top: 7%;
}
@media screen and (max-width:375px) {
    .container-fluid{
        width: 75%;
    }
    .box2{
        border-radius: 0;
    }
    .box3{
        border-radius: 0 0 5px 5px;
    }
}
.box1{
    background-color: white;
    padding: 5% 5% 2% 5%;
    color: hsl(218, 22%, 67%);
}
.box2{
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding: 5% 5% 2% 5%;
    border-radius: 0px 0px 0px 5px;
}
.rate{
font-size: 2rem;
font-weight: 700;
}
.rate-content{
    color:rgba(255,255,255,0.6);
    text-align: center;

}
.rate-container{
    margin-bottom: 2%;
}
.box3{
    background-color: hsl(179, 62%, 43%);
    padding: 5% 5% 2% 5%;
    opacity: 0.8;
    border-radius: 0px 0px 5px 0px;
}
.btn{
    background-color: hsl(71, 73%, 54%);
    border: 0px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 7px grey;
}
.box3-content{
    line-height: 0.4;
    color:rgba(255,255,255,0.6);
}
.footer{
    text-align: center;
    margin-top: 1%;
}